# Laboratório 1

Nota: Substitua os seus nomes e informações abaixo antes do envio da atividade. A atividade deve ser enviada no `Moodle` da disciplina, e o arquivo **DEVE** estar no formato `.ipynb`.

[Nome Aluno 1] / [NUSP Aluno 1] / [Vespertino/Noturno]

[Nome Aluno 2] / [NUSP Aluno 2] / [Vespertino/Noturno]

#### Exercícios

1 - Vamos começar com algo básico: escreva uma célula de código que imprima "Olá, [seu nome]"

In [1]:
nome = "Pedro"

print("Olá,", nome)

Olá, Pedro

2 - Imprima a seguinte soma:

In [2]:
soma = 7+9


print(soma)

16

3 - Imprima os números de 1 a 10, cada um em uma linha diferente

In [3]:
print(1,2,3,4,5,6,7,8,9,10, sep='\n')

1
2
3
4
5
6
7
8
9
10

4 - Qual o problema com o seguinte código?

In [4]:
print("A comida do restaurante estava "deliciosa" hoje.")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (34560898.py, line 1)

Resposta: Utilizou-se aspas duplas dentro de aspas duplas, o que não é possível desta forma no print. Para que funcionasse, precisaria do seguinte código:

In [5]:
print("A comida do restaurante estava \"deliciosa\" hoje.")

A comida do restaurante estava "deliciosa" hoje.

5 - Peça o nome do usuário e dê as boas vindas

In [6]:
nome = input("Digite seu nome: ")

print("Boas vindas,",nome,"!")

Boas vindas, Pedro !

6 - Peça a idade do usuário e descubra o ano em que ele nasceu

In [9]:
idade = input("Digite sua idade: ")

ano_nascimento = 2025 - int(idade)

print("O usuário nasceu em", ano_nascimento)

O usuário nasceu em 1999

8 - Crie uma variável str e a imprima junto do seu tipo

In [10]:
texto = "Olá, meu nome é José"

print(texto, type(texto))

Olá, meu nome é José <class 'str'>

9 - Peça ao usuário que digite sua idade e verifique o tipo de dado resultante desse input.

In [11]:
idade = input("Digite sua idade: ")

print(type(idade))

<class 'str'>

10 - Qual o tipo das seguintes variáveis?

In [12]:
# A)

x = "12.52"

print("O tipo da variável é", type(x))

O tipo da variável é <class 'str'>

In [13]:
# B)

y = "José tem 53 anos"


print("O tipo da variável é", type(y))

O tipo da variável é <class 'str'>

In [14]:
# C)

z = 17.07

print("O tipo da variável é", type(z))

O tipo da variável é <class 'float'>

In [15]:
# D)

a = 3

print("O tipo da variável é", type(a))

O tipo da variável é <class 'int'>

11 - Crie uma variável de tipo booleano (imprima o tipo da variável)

In [16]:
booleano = True

print(type(booleano))

<class 'bool'>

12 - Faça um programa que peça a base e a altura de um triângulo e calcule a área (Area do tríangulo = b.h/2)

In [17]:
base = input("Digite o comprimento da base do triângulo: ")
altura = input("Digite a altura do triângulo: ")

area = (int(base) * int(altura)) / 2

print("A área do triângulo é: ", area, "m²4")

A área do triângulo é:  12.5 m²4

13 - Peça o ano de nascimento do usuário e calcule sua idade

In [19]:
ano_nascimento = input("Digite seu ano de nascimento: ")

idade = 2025 - int(ano_nascimento)

print("O usuário tem", idade, "anos")

O usuário tem 1999 anos

14 - Peça dois números ao usuário e faça a soma destes

In [20]:
n1 = input("Digite o primeiro número: ")
n2 = input("Digite o segundo número: ")

resultado = int(n1) + int(n2)

print("O resultado da soma é: ", resultado)

O resultado da soma é:  10

15 - Imprima o seguinte caractere 50 vezes

In [21]:
caractere = "#"


print(caractere*50)

##################################################

16 - Peça dois números ao usuário e calcule o resultado da divisão destes

In [22]:
n1 = input("Digite o primeiro número: ")
n2 = input("Digite o segundo número: ")

resultado = int(n1) / int(n2)

print("O resultado da divisão é: ", resultado)

O resultado da divisão é:  1.0

17 - Peça dois números ao usuário e calcule o resultado da potência destes

In [23]:
n1 = input("Digite o primeiro número: ")
n2 = input("Digite o segundo número: ")

resultado = int(n1) ** int(n2)

print("O resultado da potenciação é: ", resultado)

O resultado da potenciação é:  3125

18 - Transforme o seguinte str em float e calcule o seu valor quadrado, apresentando o valor final em no máximo duas casas decimais

In [24]:
numstr = "42.24"
num = float(numstr)
quadrado = num ** 2

print(f'Valor final: {quadrado:.2f}')

Valor final: 1784.22

19 - Imprima as seguintes informações de um aluno utilizando o modo "básico" estabelecido na seção 8 da introdução ao Python.

In [25]:
# Informações do aluno

nome = "Matheus"
idade = 23
ano_nascimento = 2023 - idade
curso = "Química"
bolsa = 907.22435

# Insira seu código aqui


print(nome, "tem", idade, "anos e nasceu em",ano_nascimento,",", "atualmente está no curso de", curso, "recebendo uma bolsa de R$", bolsa, "reais.")

Matheus tem 23 anos e nasceu em 2000 , atualmente está no curso de Química recebendo uma bolsa de R$ 907.22435 reais.

20 - Imprima as mesmas informações usando f strings

In [26]:
# Insira seu código aqui


print(f'{nome} tem {idade} anos de idade e nasceu em {ano_nascimento}. Atualmente está no curso de {curso}, recebendo uma bolsa de R${bolsa} reais.')

Matheus tem 23 anos de idade e nasceu em 2000. Atualmente está no curso de Química, recebendo uma bolsa de R$907.22435 reais.

21 - Imprima as mesmas informações usando chaves

In [27]:
# Insira seu código aqui

print('{} tem {} anos de idade e nasceu em {}. Atualmente está no curso de {}, recebendo uma bolsa de R${} reais.'.format(nome,idade, ano_nascimento, curso,bolsa))

Matheus tem 23 anos de idade e nasceu em 2000. Atualmente está no curso de Química, recebendo uma bolsa de R$907.22435 reais.

22 - Por meio das f strings, imprima o valor da bolsa do aluno usando apenas uma casa decimal

In [28]:
# Insira seu código aqui

print('{} tem {} anos de idade e nasceu em {}. Atualmente está no curso de {}, recebendo uma bolsa de R${} reais.'.format(nome,idade, ano_nascimento, curso,round(bolsa,1)))

Matheus tem 23 anos de idade e nasceu em 2000. Atualmente está no curso de Química, recebendo uma bolsa de R$907.2 reais.

23 - Peça a idade, curso e nome de um usuário e imprima essas informações utilizando f-strings

In [30]:
# Insira seu código aqui

idade = input("Digite sua idade: ")
curso = input("Digite seu curso: ")
nome = input("Digite seu nome: ")

print(f'{nome} tem {idade} anos e está no curso de {curso}')

Pedro tem 26 anos e está no curso de Ciência Política

24 - Crie uma lista com os anos da pandemia de Covid-19

In [31]:
# Insira seu código aqui

anos_pandemia = [2020,2021,2022,2023]

print(anos_pandemia, type(anos_pandemia))

[2020, 2021, 2022, 2023] <class 'list'>

25 - Crie uma tupla com 5 países latino-americanos

In [32]:
latinos = ("Brasil", "Chile", "Argentina", "Paraguai", "Uruguai")

print(latinos, type(latinos))

('Brasil', 'Chile', 'Argentina', 'Paraguai', 'Uruguai') <class 'tuple'>

26 - Peça o nome e idade do usuário e crie um dicionário com esses valores

In [33]:
nome = input("Digite seu nome: ")
idade = input("Digite sua idade: ")

dicionário = {"nome_usuario": nome,
              "idade_usuario": idade}

print(dicionário, type(dicionário))

{'nome_usuario': 'Pedro', 'idade_usuario': '26'} <class 'dict'>

27 - Crie um conjunto com diversos objetos utilizando a função set()

In [34]:
lista1 = ["José", 42, "Física", 3500]

conjunto = set(lista1)

print(conjunto, type(conjunto))

{42, 'Física', 3500, 'José'} <class 'set'>