# Laboratório 4

Nota: Substitua os seus nomes e informações abaixo antes do envio da atividade. A atividade deve ser enviada no `Moodle` da disciplina, e o arquivo **DEVE** estar no formato `.ipynb`.

[Nome Aluno 1] / [NUSP Aluno 1] / [Vespertino/Noturno]

[Nome Aluno 2] / [NUSP Aluno 2] / [Vespertino/Noturno]

### Exercícios

Para os exercícios, sempre é bom consultar a documentação específica do *Pandas* sobre [*Series*](https://pandas.pydata.org/docs/reference/series.html).

<p align="justify"> 1 - Filtragem com <i>Series</i> - Crie uma <i>Series</i> com números inteiros. Em seguida, crie uma nova <i>Series</i> que contenha apenas os valores maiores que 50 da primeira <i>Series</i>.

<p align="justify"> 2 - Operações com <i>Series</i> - Primeiro, vamos criar duas <i>Series</i> com dados numéricos:

In [ ]:
# Criando as duas Series
serie1 = pd.Series([10, 20, 30, 40, 50])
serie2 = pd.Series([5, 15, 25, 35, 45])

a) Some as duas <i>Series</i>:

b) Multiplique as <i>Series</i> uma pela outra:

c) Encontre o valor máximo nas duas <i>Series</i>:

d) Calcule a média dos valores nas duas <i>Series</i>:

<p align="justify"> 3 - Crie uma <i>Series</i> com nomes de cidades e seus respectivos números de habitantes (não precisam ser dados reais). Classifique a <i>Series</i> em ordem decrescente com base no número de habitantes.

<p align="justify">4 - Crie duas <i>Series</i> com dados de sua escolha. Concatene as duas <i>Series</i> em uma única <i>Series</i>. Certifique-se de que os índices sejam únicos após a concatenação.

<p align="justify">5 - No seguinte dicionário estão duas informações: o nome de políticos e a quantidade de tweets que fizeram sobre as vacinas de Covid-19 no período de janeiro de 2020 a dezembro de 2021.

<p align="justify"> Converta esse dicionário em uma <i>Serie</i> e dê as seguintes informações: qual a média de tweets, o desvio padrão e quem tweetou mais.

In [ ]:
import random

# Criando o dicionário com políticos e números aleatórios de tweets
politicos = {
    "Politico1": random.randint(0, 500),
    "Politico2": random.randint(0, 500),
    "Politico3": random.randint(0, 500),
    "Politico4": random.randint(0, 500),
    "Politico5": random.randint(0, 500),
    "Politico6": random.randint(0, 500),
    "Politico7": random.randint(0, 500),
    "Politico8": random.randint(0, 500),
    "Politico9": random.randint(0, 500),
    "Politico10": random.randint(0, 500),
    "Politico11": random.randint(0, 500),
    "Politico12": random.randint(0, 500),
    "Politico13": random.randint(0, 500),
    "Politico14": random.randint(0, 500),
    "Politico15": random.randint(0, 500),
    "Politico16": random.randint(0, 500),
    "Politico17": random.randint(0, 500),
    "Politico18": random.randint(0, 500),
    "Politico19": random.randint(0, 500),
    "Politico20": random.randint(0, 500)
}

<p align="justify"> 6 - Faça uma função que recebe um dicionário como argumento e retorne esse dicionário como <i>Serie</i>, junto de informações descritivas como média, moda, mediana.

Antes de ir aos próximos exercícios, explore a documentação própria do Pandas ([Link](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html)) sobre <i>Data Frames</i>.

<p align="justify">1 - Considere o seguinte <i>Data Frame</i>:

In [ ]:
dados = {
    'Nome': ['Alice', 'Bob', 'Carol', 'David', 'Eva'],
    'Idade': [25, 30, 22, 35, 28],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'São Paulo', 'Rio de Janeiro']
}

df = pd.DataFrame(dados)

df

a) Selecione a coluna 'Nome':

b) Selecione a primeira linha do <i>Data Frame</i>:

c) Selecione o valor 'Bob' da coluna 'Nome':

d) Selecione as linhas onde a idade é maior que 28:

<p align="justify">e) Selecione as linhas onde a idade está entre 25 e 30 anos (inclusive) e a cidade é 'São Paulo':

<p align="justify">f) Selecione as linhas onde o nome começa com a letra 'A' ou a idade é menor que 25:

<b>Dica:</b> Você vai precisar do método de strings 'startswith()' ([Link](https://docs.python.org/3/library/stdtypes.html#str.startswith)).

<p align="justify">2 - Agora vamos exercitar o uso do <i>loc</i>. Considere o seguinte <i>Data Frame</i>:

In [ ]:
dados = {
    'Nome': ['Alice', 'Bob', 'Carol', 'David', 'Eva'],
    'Idade': [25, 30, 22, 35, 28],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'São Paulo', 'Rio de Janeiro']
}

df = pd.DataFrame(dados)

<p align="justify">a) Use <i>loc</i> para selecionar todas as linhas, mas só as colunas 'Nome' e 'Idade':

<p align="justify">b) Use <i>loc</i> para selecionar a linha com o nome 'David', mas com todas as colunas:

<p align="justify">c) Por fim, use <i>loc</i> para selecionar as linhas onde a idade é maior que 28 e todas as colunas:

<p align="justify">3 - Vamos trabalhar um pouco o <i>iloc</i>. Considere o mesmo <i>Data Frame</i> do exercício 2:

<p align="justify">a)  Use <i>iloc</i> para selecionar a primeira linha e todas as colunas:

<p align="justify">b)  Use <i>iloc</i> para selecionar a última linha e todas as colunas:

<p align="justify">c) Use <i>iloc</i> para selecionar as três primeiras linhas e todas as colunas:

<p align="justify">4) Vamos criar o banco de novo para garantir que ele não foi modificado:

In [ ]:
dados = {
    'Nome': ['Alice', 'Bob', 'Carol', 'David', 'Eva'],
    'Idade': [25, 30, 22, 35, 28],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'São Paulo', 'Rio de Janeiro']
}

df = pd.DataFrame(dados)

df

<p align="justify">a) Crie uma coluna de tempo de transporte até o trabalho que vai de 15 a 90 minutos. Ela tem de ser gerada aleatoriamente:

b) Crie uma coluna de gênero utilizando o método np.random.choice ([Link](https://numpy.org/doc/stable/reference/random/generated/numpy.random.choice.html)):

<p align="justify">c) Crie uma coluna de salário da mesma forma que fizemos no exemplo de operações em coluna. Depois, crie uma nova coluna que mostre a razão de 'salário' e 'transporte':

<p align="justify">d) Delete a coluna da razão entre salário e transporte:

<p align="justify">5) Vamos praticar um pouco a aplicação de funções em objetos de <i>Pandas</i>. Considere o banco de dados:

In [ ]:
dados = {
    'Nome': ['Alice', 'Bob', 'Carol', 'David', 'Eva'],
    'Salario': [50000, 60000, 75000, 48000, 80000],
}

df = pd.DataFrame(dados)

df

<p align="justify">a) Faça uma função chamada "aumento_salarial" que recebe o salário como entrada e retorna um aumento de 15%:

b) Aplique a função na coluna "Salario" utilizando "apply":

<p align="justify">c) Aqui está um dicionário com um mapeamento de categorias com base nos salários. Crie uma função que retorne uma categoria de acordo com o salário da pessoa.

<b>Dica:</b> Mckinney, 2022, P. 211.

In [ ]:

# Dicionário de Mapeamento

mapeamento_categorias = {
    (0, 50000): 'Baixo',
    (50001, 70000): 'Médio',
    (70001, 80000): 'Alto'
}

<p align="justify">d) Aplique essa função no <i>Data Frame</i>, criando uma nova coluna chamada "categoria_salario". Imprima o banco de dados:

<p align="justify">6) Considere o seguinte <i>Data Frame</i>:

In [ ]:
# Lista de nomes fictícios
nomes_brasileiros = ['João', 'Maria', 'Pedro', 'Ana', 'José', 'Luiza', 'Rafael', 'Fernanda', 'Gustavo', 'Carolina',
                     'Lucas', 'Juliana', 'Marcos', 'Camila', 'Felipe', 'Isabela', 'Mariana', 'Ricardo', 'Sandra']

# Crie um DataFrame com 20 observações aleatórias
dados = {
    'Nome': [random.choice(nomes_brasileiros) for _ in range(30)],
    'Idade': [random.randint(20, 60) for _ in range(30)],
    'Cidade': [random.choice(['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Salvador', 'Brasília']) for _ in range(30)],
    'Salario': [random.randint(1000,7000) for _ in range(30)]
}

df = pd.DataFrame(dados)

# Exiba o DataFrame
print(df)

a) Calcule a idade média e imprima o resultado como um valor inteiro

b) Calcule a mediana dos salários:

<p align="justify">c) Calcule o desvio-padrão do salário e das idades e imprima de forma adequada usando <i>f strings</i>:

d) Calcule a soma dos salários:

e) Encontre o índice do maior valor da idade e imprima a linha:

<p align="justify">f) Utilize <i>describe</i> para obter estatísticas descritivas de toda a tabela:

<p align="justify">g) O <i>describe</i> também gera um <i>Data Frame</i> como resultado. Atribua o resultado do <i>describe</i> à um objeto e selecione as linhas de '25%', '50%' e '75%':

e) Qual a correlação entre idade e salário?

f) E a covariância destas duas variáveis?

h) Quantos nomes únicos temos no <i>Data Frame</i>?

1 - Baixe o seguinte banco de dados do [Kaggle](https://www.kaggle.com/datasets/zynicide/wine-reviews?resource=download) e o importe no Colab utilizando o primeiro modo ensinado. Isto é, ir em arquivos e inserí-lo manualmente. O banco de dados é o de nome 'winemag-data-130k-v2.csv'.

<b>Dica:</b> Depois de inserí-lo, pode copiar o caminho clicando com o botão direito em cima do .csv no Colab:

a) Traga as principais estatísticas descritivas do banco:

b) Qual a origem mais comum dos vinhos? (Top 5)

c) Qual o preço médio dos vinhos?

d) Quem é o sommelier que mais aparece no banco?

2) Baixe os arquivos com os resultados das [eleições gerais](https://sig.tse.jus.br/ords/dwapr/r/seai/sig-eleicao-resultados/resultado-da-eleição?p0_abrangencia=UF&clear=RP&session=6209947300226) de 2022 por UF e importe no <i>Pandas</i> da mesma forma que o 1.

<b>Dicas:</b> Problemas no [delimiter](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) e no [encoding](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) (encoding = 'latin-1'):

a) Filtre o que é relacionado só com o cargo de presidente e no primeiro turno:

<p align="justify">b) Crie um novo <i>Data Frame</i> só com as colunas sg_uf, nm_urna_candidato, pc_votos_validos e qt_votos_nom_validos. Use 'reset_index()' para reconfigurar o índice:

<p align="justify">c) Mostre o maior valor de qt_votos_nom_validos e a linha em que ocorre:

3) Importe "tweets_annotated.csv" do seguinte [repositório](https://github.com/PedroSchmalz/covid19-tweets-brazilian-mayoral-candidates):

<p align="justify">a) Exclua as linhas em que 'post_vaccine' é igual a 0 e salve isso em um novo <i>Data Frame</i>:

<p align="justify">b) Use o <i>Data Frame</i> do exercício anterior para mostrar as frequências das categorias da variável 'positions_vac':

1 - Temos o seguinte banco de dados com valores <i>missing</i>. Preencha os valores faltantes com zeros.

In [ ]:
data = {'A': [1, 2, np.nan, 4, 5],
        'B': [np.nan, 2, 3, np.nan, 5],
        'C': [1, np.nan, 3, 4, np.nan]}

df = pd.DataFrame(data)

2 - Novamente, temos um banco de dados com NAs. Conte os valores <i>missing</i> em cada coluna:

In [ ]:
data = {'A': [1, 2, np.nan, 4, 5],
        'B': [np.nan, 2, 3, np.nan, 5],
        'C': [1, np.nan, 3, 4, np.nan]}

df = pd.DataFrame(data)

3 - Remova os dados duplicados do seguinte banco de dados:

In [ ]:
data = {'Nome': ['Alice', 'Bob', 'Alice', 'David', 'Eve'],
        'ID': [101, 102, 101, 103, 104]}

df = pd.DataFrame(data)

<p align="justify">4 - Para o seguinte banco de dados, faça um mapeamento que substitua 'alto' por 3, 'médio' por 2 e 'baixo' por 1. Em seguida, utilize esse mapeamento no banco com o método <i>replace</i>:

In [ ]:

data = {'Cidade': ['A', 'B', 'C', 'D'],
        'Poluição': ['Alto', 'Médio', 'Baixo', 'Alto']}

df = pd.DataFrame(data)

<p align="justify">5 - Para o seguinte banco de dados, crie bins de conceitos (i.e. 'A', 'B', etc.) com base na nota dos alunos:

In [ ]:

data = {'Nome': ['Alice', 'Bob', 'Carol', 'David', 'Eve'],
        'Nota': [85, 72, 45, 60, 32]}

df = pd.DataFrame(data)

6 - Use a função get_dummies() para criar variáveis dummy a partir da coluna de animais de estimação:

In [ ]:
data = {'Nome': ['Alice', 'Bob', 'Carol', 'David', 'Eve'],
        'Animal_de_Estimação': ['Cachorro', 'Gato', 'Peixe', 'Gato', 'Cachorro']}

df = pd.DataFrame(data)

<p align="justify">7 - Suponha que você tenha um <i>Data Frame</i> com uma coluna que contém nomes completos no formato "Primeiro Nome Último Nome". Sua tarefa é dividir essa coluna em duas colunas separadas, uma para o primeiro nome e outra para o último nome:

In [ ]:
import pandas as pd

data = {'Nome_Completo': ['Alice Johnson', 'Bob Smith', 'Carol Brown', 'David White', 'Eve Anderson']}

df = pd.DataFrame(data)

<p align="justify">8 - Suponha que você tenha um <i>Data Frame</i> com uma coluna que contém nomes completos, mas alguns nomes têm espaços em branco extras no início ou no final. Sua tarefa é remover esses espaços em branco extras:

In [ ]:
data = {'Nome_Completo': ['   Alice Johnson', 'Bob Smith   ', ' Carol Brown ', '  David White ', 'Eve  Anderson']}

df = pd.DataFrame(data)