# Laboratório 4 - Gabarito

Nota: Substitua os seus nomes e informações abaixo antes do envio da atividade. A atividade deve ser enviada no `Moodle` da disciplina, e o arquivo **DEVE** estar no formato `.ipynb`.

[Nome Aluno 1] / [NUSP Aluno 1] / [Vespertino/Noturno]

[Nome Aluno 2] / [NUSP Aluno 2] / [Vespertino/Noturno]

### Exercícios

Para os exercícios, sempre é bom consultar a documentação específica do *Pandas* sobre [*Series*](https://pandas.pydata.org/docs/reference/series.html).

<p align="justify"> 1 - Filtragem com <i>Series</i> - Crie uma <i>Series</i> com números inteiros. Em seguida, crie uma nova <i>Series</i> que contenha apenas os valores maiores que 50 da primeira <i>Series</i>.

In [30]:
import pandas as pd

In [31]:
# Criando uma Series com números inteiros aleatórios
data = [45, 60, 75, 30, 90, 55, 70]
series = pd.Series(data)

# Filtrando valores maiores que 50
filtrados = series[series > 50]

print("Série original:")
print(series)
print("\nValores maiores que 50:")
print(filtrados)

Série original:
0    45
1    60
2    75
3    30
4    90
5    55
6    70
dtype: int64

Valores maiores que 50:
1    60
2    75
4    90
5    55
6    70
dtype: int64

<p align="justify"> 2 - Operações com <i>Series</i> - Primeiro, vamos criar duas <i>Series</i> com dados numéricos:

In [32]:
# Criando as duas Series
serie1 = pd.Series([10, 20, 30, 40, 50])
serie2 = pd.Series([5, 15, 25, 35, 45])

a) Some as duas <i>Series</i>:

In [33]:
soma = serie1 + serie2
print("Soma das Series:")
print(soma)

Soma das Series:
0    15
1    35
2    55
3    75
4    95
dtype: int64

b) Multiplique as <i>Series</i> uma pela outra:

In [34]:
mult = serie1 * serie2

print("Multplicação das Series: ")
print(mult)

Multplicação das Series:
0      50
1     300
2     750
3    1400
4    2250
dtype: int64

c) Encontre o valor máximo nas duas <i>Series</i>:

In [35]:
print(serie1.max())
print(serie2.max())

50
45

d) Calcule a média dos valores nas duas <i>Series</i>:

In [36]:
media_serie1 = serie1.mean()
media_serie2 = serie2.mean()

print("Média de Serie1:", media_serie1)
print("Média de Serie2:", media_serie2)

Média de Serie1: 30.0
Média de Serie2: 25.0

<p align="justify"> 3 - Crie uma <i>Series</i> com nomes de cidades e seus respectivos números de habitantes (não precisam ser dados reais). Classifique a <i>Series</i> em ordem decrescente com base no número de habitantes.

In [37]:
# Criando uma Series com nomes de cidades e seus respectivos números de habitantes
data = {'Cidade A': 750000, 'Cidade B': 610000, 'Cidade C': 850000, 'Cidade D': 420000, 'Cidade E': 320000}
series = pd.Series(data)

# Classificando a Series em ordem decrescente com base no número de habitantes
series_ordenada = series.sort_values(ascending=False)

print("Série original:")
print(series)
print("\nSérie classificada em ordem decrescente:")
print(series_ordenada)

Série original:
Cidade A    750000
Cidade B    610000
Cidade C    850000
Cidade D    420000
Cidade E    320000
dtype: int64

Série classificada em ordem decrescente:
Cidade C    850000
Cidade A    750000
Cidade B    610000
Cidade D    420000
Cidade E    320000
dtype: int64

<p align="justify">4 - Crie duas <i>Series</i> com dados de sua escolha. Concatene as duas <i>Series</i> em uma única <i>Series</i>. Certifique-se de que os índices sejam únicos após a concatenação.

In [38]:
# Criando duas Series com dados de sua escolha
serie1 = pd.Series([1, 2, 3], index=['A', 'B', 'C'])
serie2 = pd.Series([4, 5, 6], index=['D', 'E', 'F'])

# Concatenando as duas Series em uma única Series
serie_concatenada = pd.concat([serie1, serie2])

print("Primeira Series:")
print(serie1)
print("\nSegunda Series:")
print(serie2)
print("\nSeries Concatenada:")
print(serie_concatenada)

Primeira Series:
A    1
B    2
C    3
dtype: int64

Segunda Series:
D    4
E    5
F    6
dtype: int64

Series Concatenada:
A    1
B    2
C    3
D    4
E    5
F    6
dtype: int64

<p align="justify">5 - No seguinte dicionário estão duas informações: o nome de políticos e a quantidade de tweets que fizeram sobre as vacinas de Covid-19 no período de janeiro de 2020 a dezembro de 2021.

<p align="justify"> Converta esse dicionário em uma <i>Serie</i> e dê as seguintes informações: qual a média de tweets, o desvio padrão e quem tweetou mais.

In [39]:
import random

# Criando o dicionário com políticos e números de tweets
politicos = {
    "Politico1": random.randint(0, 500),
    "Politico2": random.randint(0, 500),
    "Politico3": random.randint(0, 500),
    "Politico4": random.randint(0, 500),
    "Politico5": random.randint(0, 500),
    "Politico6": random.randint(0, 500),
    "Politico7": random.randint(0, 500),
    "Politico8": random.randint(0, 500),
    "Politico9": random.randint(0, 500),
    "Politico10": random.randint(0, 500),
    "Politico11": random.randint(0, 500),
    "Politico12": random.randint(0, 500),
    "Politico13": random.randint(0, 500),
    "Politico14": random.randint(0, 500),
    "Politico15": random.randint(0, 500),
    "Politico16": random.randint(0, 500),
    "Politico17": random.randint(0, 500),
    "Politico18": random.randint(0, 500),
    "Politico19": random.randint(0, 500),
    "Politico20": random.randint(0, 500)
}

# Convertendo o dicionário em uma Series
serie_politicos = pd.Series(politicos)

# Calculando a média de tweets
media_tweets = serie_politicos.mean()

# Calculando o desvio padrão dos tweets
desvio_padrao_tweets = serie_politicos.std()

# Encontrando o político que tweetou mais
politico_mais_tweets = serie_politicos.idxmax()

print("Série de Políticos e Números de Tweets:")
print(serie_politicos)
print("\nMédia de Tweets:", media_tweets)
print("Desvio Padrão dos Tweets:", desvio_padrao_tweets)
print("Político que Tweetou Mais:", politico_mais_tweets, "com", serie_politicos[politico_mais_tweets], "tweets.")

Série de Políticos e Números de Tweets:
Politico1       2
Politico2     448
Politico3     212
Politico4     422
Politico5     284
Politico6     241
Politico7     312
Politico8      21
Politico9     374
Politico10    143
Politico11    365
Politico12    351
Politico13    347
Politico14    194
Politico15    444
Politico16    196
Politico17    184
Politico18    317
Politico19    341
Politico20     82
dtype: int64

Média de Tweets: 264.0
Desvio Padrão dos Tweets: 132.59276792217273
Político que Tweetou Mais: Politico2 com 448 tweets.

<p align="justify"> 6 - Faça uma função que recebe um dicionário como argumento e retorne esse dicionário como <i>Serie</i>, junto de informações descritivas como média, moda, mediana.

In [40]:
def analisar_dicionario(dic):
    # Convertendo o dicionário em uma Series
    serie = pd.Series(dic)

    # Calculando as estatísticas descritivas
    media = serie.mean()
    moda = serie.mode().to_list()  # Pode haver mais de uma moda
    mediana = serie.median()

    # Criando um dicionário com as informações
    informacoes = {
        "Serie": serie,
        "Média": media,
        "Moda": moda,
        "Mediana": mediana
    }

    return informacoes

# Exemplo de uso da função com um dicionário fictício
dicionario_exemplo = {
    "A": 10,
    "B": 20,
    "C": 30,
    "D": 20,
    "E": 10
}

resultado = analisar_dicionario(dicionario_exemplo)
print("Informações Descritivas:")
for chave, valor in resultado.items():
    if chave == "Serie":
        print(f"{chave}:\n{valor}\n")
    else:
        print(f"{chave}: {valor}")

Informações Descritivas:
Serie:
A    10
B    20
C    30
D    20
E    10
dtype: int64

Média: 18.0
Moda: [10, 20]
Mediana: 20.0

Antes de ir aos próximos exercícios, explore a documentação própria do Pandas ([Link](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html)) sobre <i>Data Frames</i>.

<p align="justify">7 - Considere o seguinte <i>Data Frame</i>:

In [41]:
dados = {
    'Nome': ['Alice', 'Bob', 'Carol', 'David', 'Eva'],
    'Idade': [25, 30, 22, 35, 28],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'São Paulo', 'Rio de Janeiro']
}

df = pd.DataFrame(dados)

df

    Nome  Idade          Cidade
0  Alice     25       São Paulo
1    Bob     30  Rio de Janeiro
2  Carol     22  Belo Horizonte
3  David     35       São Paulo
4    Eva     28  Rio de Janeiro

a) Selecione a coluna 'Nome':

In [42]:
nomes = df['Nome']
print(nomes)

0    Alice
1      Bob
2    Carol
3    David
4      Eva
Name: Nome, dtype: object

b) Selecione a primeira linha do <i>Data Frame</i>:

In [43]:
primeira_linha = df.iloc[0]
print(primeira_linha)

Nome          Alice
Idade            25
Cidade    São Paulo
Name: 0, dtype: object

c) Selecione o valor 'Bob' da coluna 'Nome':

In [44]:
nome_bob = df.loc[df['Nome'] == 'Bob', 'Nome'].values[0]
print(nome_bob)

Bob

d) Selecione as linhas onde a idade é maior que 28:

In [45]:
idade_maior_que_28 = df[df['Idade'] > 28]
print(idade_maior_que_28)

    Nome  Idade          Cidade
1    Bob     30  Rio de Janeiro
3  David     35       São Paulo

<p align="justify">e) Selecione as linhas onde a idade está entre 25 e 30 anos (inclusive) e a cidade é 'São Paulo':

In [46]:
filtro = (df['Idade'] >= 25) & (df['Idade'] <= 30) & (df['Cidade'] == 'São Paulo')
resultados = df[filtro]
print(resultados)

    Nome  Idade     Cidade
0  Alice     25  São Paulo

<p align="justify">f) Selecione as linhas onde o nome começa com a letra 'A' ou a idade é menor que 25:

<b>Dica:</b> Você vai precisar do método de strings 'startswith()' ([Link](https://docs.python.org/3/library/stdtypes.html#str.startswith)).

In [47]:
filtro = (df['Nome'].str.startswith('A')) | (df['Idade'] < 25)
resultados = df[filtro]
print(resultados)

    Nome  Idade          Cidade
0  Alice     25       São Paulo
2  Carol     22  Belo Horizonte

<p align="justify">8 - Agora vamos exercitar o uso do <i>loc</i>. Considere o seguinte <i>Data Frame</i>:

In [48]:
dados = {
    'Nome': ['Alice', 'Bob', 'Carol', 'David', 'Eva'],
    'Idade': [25, 30, 22, 35, 28],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'São Paulo', 'Rio de Janeiro']
}

df = pd.DataFrame(dados)

<p align="justify">a) Use <i>loc</i> para selecionar todas as linhas, mas só as colunas 'Nome' e 'Idade':

In [49]:
selecao_a = df.loc[:, ['Nome', 'Idade']]
print(selecao_a)

    Nome  Idade
0  Alice     25
1    Bob     30
2  Carol     22
3  David     35
4    Eva     28

<p align="justify">b) Use <i>loc</i> para selecionar a linha com o nome 'David', mas com todas as colunas:

In [50]:
selecao_b = df.loc[df['Nome'] == 'David', :]
print(selecao_b)

    Nome  Idade     Cidade
3  David     35  São Paulo

<p align="justify">c) Por fim, use <i>loc</i> para selecionar as linhas onde a idade é maior que 28 e todas as colunas:

In [51]:
selecao_c = df.loc[df['Idade'] > 28, :]
print(selecao_c)

    Nome  Idade          Cidade
1    Bob     30  Rio de Janeiro
3  David     35       São Paulo

<p align="justify">9 - Vamos trabalhar um pouco o <i>iloc</i>. Considere o mesmo <i>Data Frame</i> do exercício 2:

<p align="justify">a)  Use <i>iloc</i> para selecionar a primeira linha e todas as colunas:

In [52]:
selecao_a = df.iloc[0, :]
print(selecao_a)

Nome          Alice
Idade            25
Cidade    São Paulo
Name: 0, dtype: object

<p align="justify">b)  Use <i>iloc</i> para selecionar a última linha e todas as colunas:

In [53]:
selecao_b = df.iloc[-1, :]
print(selecao_b)

Nome                 Eva
Idade                 28
Cidade    Rio de Janeiro
Name: 4, dtype: object

<p align="justify">c) Use <i>iloc</i> para selecionar as três primeiras linhas e todas as colunas:

In [54]:
selecao_c = df.iloc[:3, :]
print(selecao_c)

    Nome  Idade          Cidade
0  Alice     25       São Paulo
1    Bob     30  Rio de Janeiro
2  Carol     22  Belo Horizonte

<p align="justify">10) Vamos criar o banco de novo para garantir que ele não foi modificado:

In [55]:
dados = {
    'Nome': ['Alice', 'Bob', 'Carol', 'David', 'Eva'],
    'Idade': [25, 30, 22, 35, 28],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'São Paulo', 'Rio de Janeiro']
}

df = pd.DataFrame(dados)

df

    Nome  Idade          Cidade
0  Alice     25       São Paulo
1    Bob     30  Rio de Janeiro
2  Carol     22  Belo Horizonte
3  David     35       São Paulo
4    Eva     28  Rio de Janeiro

<p align="justify">a) Crie uma coluna de tempo de transporte até o trabalho que vai de 15 a 90 minutos. Ela tem de ser gerada aleatoriamente:

In [56]:
df['Transporte'] = [random.randint(15, 90) for _ in range(5)]

df

    Nome  Idade          Cidade  Transporte
0  Alice     25       São Paulo          38
1    Bob     30  Rio de Janeiro          43
2  Carol     22  Belo Horizonte          39
3  David     35       São Paulo          49
4    Eva     28  Rio de Janeiro          64

b) Crie uma coluna de gênero utilizando o método np.random.choice ([Link](https://numpy.org/doc/stable/reference/random/generated/numpy.random.choice.html)):

In [58]:
import numpy as np

generos = ['masculino', 'feminino']

df['Genero'] = np.random.choice(generos, size = len(df))

df

    Nome  Idade          Cidade  Transporte     Genero
0  Alice     25       São Paulo          38  masculino
1    Bob     30  Rio de Janeiro          43   feminino
2  Carol     22  Belo Horizonte          39   feminino
3  David     35       São Paulo          49  masculino
4    Eva     28  Rio de Janeiro          64  masculino

<p align="justify">c) Crie uma coluna de salário da mesma forma que fizemos no exemplo de operações em coluna. Depois, crie uma nova coluna que mostre a razão de 'salário' e 'transporte':

In [59]:
df['Salário'] = [random.randint(1000,3000) for _ in range(len(df))]

df['salario/transporte'] = df['Salário'] / df['Transporte']

df

,Nome,Idade,Cidade,Transporte,Genero,Salário,salario/transporte
0,Alice,25,São Paulo,38,masculino,2342,61.631579
1,Bob,30,Rio de Janeiro,43,feminino,1346,31.302326
2,Carol,22,Belo Horizonte,39,feminino,1063,27.256410
3,David,35,São Paulo,49,masculino,1217,24.836735
4,Eva,28,Rio de Janeiro,64,masculino,2698,42.156250

<p align="justify">d) Delete a coluna da razão entre salário e transporte:

In [60]:
del df['salario/transporte']

df

    Nome  Idade          Cidade  Transporte     Genero  Salário
0  Alice     25       São Paulo          38  masculino     2342
1    Bob     30  Rio de Janeiro          43   feminino     1346
2  Carol     22  Belo Horizonte          39   feminino     1063
3  David     35       São Paulo          49  masculino     1217
4    Eva     28  Rio de Janeiro          64  masculino     2698

<p align="justify">11) Vamos praticar um pouco a aplicação de funções em objetos de <i>Pandas</i>. Considere o banco de dados:

In [61]:
dados = {
    'Nome': ['Alice', 'Bob', 'Carol', 'David', 'Eva'],
    'Salario': [50000, 60000, 75000, 48000, 80000],
}

df = pd.DataFrame(dados)

df

    Nome  Salario
0  Alice    50000
1    Bob    60000
2  Carol    75000
3  David    48000
4    Eva    80000

<p align="justify">a) Faça uma função chamada "aumento_salarial" que recebe o salário como entrada e retorna um aumento de 15%:

In [62]:
def aumento_salarial(x):
  return x * 1.15

b) Aplique a função na coluna "Salario" utilizando "apply":

In [63]:
df['Salario'].apply(aumento_salarial)

0    57500.0
1    69000.0
2    86250.0
3    55200.0
4    92000.0
Name: Salario, dtype: float64

<p align="justify">c) Aqui está um dicionário com um mapeamento de categorias com base nos salários. Crie uma função que retorne uma categoria de acordo com o salário da pessoa.

<b>Dica:</b> Mckinney, 2022, P. 211.

In [64]:

# Dicionário de Mapeamento

mapeamento_categorias = {
    (0, 50000): 'Baixo',
    (50001, 70000): 'Médio',
    (70001, 80000): 'Alto'
}

def mapear_categoria_salario(salario):
    for intervalo, categoria in mapeamento_categorias.items():
        if intervalo[0] <= salario <= intervalo[1]:
            return categoria

<p align="justify">d) Aplique essa função no <i>Data Frame</i>, criando uma nova coluna chamada "categoria_salario". Imprima o banco de dados:

In [65]:
df['categoria_salario'] = df["Salario"].apply(mapear_categoria_salario)

df

    Nome  Salario categoria_salario
0  Alice    50000             Baixo
1    Bob    60000             Médio
2  Carol    75000              Alto
3  David    48000             Baixo
4    Eva    80000              Alto

<p align="justify">12) Considere o seguinte <i>Data Frame</i>:

In [66]:
# Lista de nomes fictícios
nomes_brasileiros = ['João', 'Maria', 'Pedro', 'Ana', 'José', 'Luiza', 'Rafael', 'Fernanda', 'Gustavo', 'Carolina',
                     'Lucas', 'Juliana', 'Marcos', 'Camila', 'Felipe', 'Isabela', 'Mariana', 'Ricardo', 'Sandra']

# Crie um DataFrame com 20 observações aleatórias
dados = {
    'Nome': [random.choice(nomes_brasileiros) for _ in range(30)],
    'Idade': [random.randint(20, 60) for _ in range(30)],
    'Cidade': [random.choice(['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Salvador', 'Brasília']) for _ in range(30)],
    'Salario': [random.randint(1000,7000) for _ in range(30)]
}

df = pd.DataFrame(dados)

# Exiba o DataFrame
print(df)

        Nome  Idade          Cidade  Salario
0   Fernanda     25        Brasília     6139
1     Marcos     53  Belo Horizonte     4021
2     Sandra     36        Brasília     5796
3    Juliana     56  Belo Horizonte     5496
4       João     55       São Paulo     1322
5   Fernanda     54        Salvador     1481
6      Lucas     52        Salvador     6529
7        Ana     29        Salvador     4315
8    Ricardo     43        Brasília     5842
9   Fernanda     20        Brasília     1374
10    Marcos     30       São Paulo     3239
11     Luiza     46       São Paulo     5707
12   Gustavo     23  Rio de Janeiro     5689
13   Ricardo     59        Salvador     1879
14    Felipe     44        Salvador     1239
15   Ricardo     41  Rio de Janeiro     3559
16     Maria     44       São Paulo     1746
17     Maria     46  Rio de Janeiro     4183
18   Ricardo     50       São Paulo     3242
19   Gustavo     41  Rio de Janeiro     6864
20     Lucas     52        Salvador     1663
21     Lucas     26        Brasília     6471
22     Maria     46  Belo Horizonte     2128
23  Carolina     39       São Paulo     1540
24    Felipe     52  Belo Horizonte     2043
25   Gustavo     37  Rio de Janeiro     4082
26     Luiza     47        Salvador     3849
27     Pedro     39        Salvador     6672
28  Fernanda     38       São Paulo     1392
29     Pedro     33       São Paulo     1958

a) Calcule a idade média e imprima o resultado como um valor inteiro

In [67]:
media = df.Idade.mean()

print(int(media))

41

b) Calcule a mediana dos salários:

In [68]:
df.Salario.median()

3704.0

<p align="justify">c) Calcule o desvio-padrão do salário e das idades e imprima de forma adequada usando <i>f strings</i>:

In [69]:
desv_sal = df.Salario.std()
desv_idade = df.Idade.std()


print(f'O Desvio Padrão do salário é de {round(desv_sal,2)} e o da Idade é {round(desv_idade,2)}')

O Desvio Padrão do salário é de 1978.82 e o da Idade é 10.58

d) Calcule a soma dos salários:

In [70]:
df.Salario.sum()

111460

e) Encontre o índice do maior valor da idade e imprima a linha:

In [71]:
indice = df.Idade.idxmax()

print(df.iloc[indice])

Nome        Ricardo
Idade            59
Cidade     Salvador
Salario        1879
Name: 13, dtype: object

<p align="justify">f) Utilize <i>describe</i> para obter estatísticas descritivas de toda a tabela:

In [72]:
df.describe()

           Idade      Salario
count  30.000000    30.000000
mean   41.866667  3715.333333
std    10.578877  1978.819490
min    20.000000  1239.000000
25%    36.250000  1779.250000
50%    43.500000  3704.000000
75%    51.500000  5702.500000
max    59.000000  6864.000000

<p align="justify">g) O <i>describe</i> também gera um <i>Data Frame</i> como resultado. Atribua o resultado do <i>describe</i> à um objeto e selecione as linhas de '25%', '50%' e '75%':

In [73]:
dados2 = df.describe()

dados2.iloc[4:7, :]

     Idade  Salario
25%  36.25  1779.25
50%  43.50  3704.00
75%  51.50  5702.50

e) Qual a correlação entre idade e salário?

In [74]:
df['Idade'].corr(df['Salario'])

-0.23763653514208968

f) E a covariância destas duas variáveis?

In [75]:
df['Idade'].cov(df['Salario'])

-4974.609195402298

h) Quantos nomes únicos temos no <i>Data Frame</i>?

In [76]:
# Resposta mais simples

df.Nome.unique()

array(['Fernanda', 'Marcos', 'Sandra', 'Juliana', 'João', 'Lucas', 'Ana',
       'Ricardo', 'Luiza', 'Gustavo', 'Felipe', 'Maria', 'Carolina',
       'Pedro'], dtype=object)

In [77]:
# Resposta mais elaborada

array_nomes = df.Nome.unique()

series_nomes = pd.Series(array_nomes)

series_nomes.value_counts().sum()

14

13 - Baixe o seguinte banco de dados do [Kaggle](https://www.kaggle.com/datasets/zynicide/wine-reviews?resource=download) e o importe no Colab utilizando o primeiro modo ensinado. Isto é, ir em arquivos e inserí-lo manualmente. O banco de dados é o de nome 'winemag-data-130k-v2.csv'.

<b>Dica:</b> Depois de inserí-lo, pode copiar o caminho clicando com o botão direito em cima do .csv no Colab:

In [82]:
caminho_arquivo = "book\\aulas\\aula4\\dataset\\winemag-data-130k-v2.csv"

df = pd.read_csv(caminho_arquivo)

df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'book\\aulas\\aula4\\dataset\\winemag-data-130k-v2.csv'

a) Traga as principais estatísticas descritivas do banco:

In [ ]:
df.describe()

b) Qual a origem mais comum dos vinhos? (Top 5)

In [ ]:
df.country.value_counts()[:5]

c) Qual o preço médio dos vinhos?

In [ ]:
df.price.mean()

d) Quem é o sommelier que mais aparece no banco?

In [ ]:
df.taster_name.value_counts()[:1]

14) Baixe os arquivos com os resultados das [eleições gerais](https://sig.tse.jus.br/ords/dwapr/r/seai/sig-eleicao-resultados/resultado-da-eleição?p0_abrangencia=UF&clear=RP&session=6209947300226) de 2022 por UF e importe no <i>Pandas</i> da mesma forma que o 1.

<b>Dicas:</b> Problemas no [delimiter](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) e no [encoding](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) (encoding = 'latin-1'):

In [1]:
caminho_arquivo = 'book\aulas\aula4\dataset\votacao_candidato-uf_presidente_2022.csv'

df = pd.read_csv(caminho_arquivo,
                 delimiter = ';',
                 encoding = 'latin-1')

df.head()

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Pedro\AppData\Local\Temp\ipykernel_12596\896466866.py:1: SyntaxWarning: invalid escape sequence '\d'
  caminho_arquivo = 'book\aulas\aula4\dataset\votacao_candidato-uf_presidente_2022.csv'
C:\Users\Pedro\AppData\Local\Temp\ipykernel_12596\896466866.py:1: SyntaxWarning: invalid escape sequence '\d'
  caminho_arquivo = 'book\aulas\aula4\dataset\votacao_candidato-uf_presidente_2022.csv'

NameError: name 'pd' is not defined

a) Filtre o que é relacionado só com o cargo de presidente e no primeiro turno:

In [ ]:
df = df[(df['ds_cargo'] == 'Presidente') & (df['nr_turno'] == 1)]

df

<p align="justify">b) Crie um novo <i>Data Frame</i> só com as colunas sg_uf, nm_urna_candidato, pc_votos_validos e qt_votos_nom_validos. Use 'reset_index()' para reconfigurar o índice:

In [ ]:
df2 = df[['sg_uf', 'nm_urna_candidato', 'pc_votos_validos', 'qt_votos_nom_validos']].reset_index()

df2

<p align="justify">c) Mostre o maior valor de qt_votos_nom_validos e a linha em que ocorre:

In [ ]:
maior = df2.qt_votos_nom_validos.max()
linha = df2.qt_votos_nom_validos.idxmax()

print(f'O maior valor é de {maior} e ele ocorre na linha {linha}')
print(df2.iloc[275])

15) Importe "tweets_annotated.csv" do seguinte [repositório](https://github.com/PedroSchmalz/covid19-tweets-brazilian-mayoral-candidates):

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/PedroSchmalz/covid19-tweets-brazilian-mayoral-candidates/main/tweets_annotated.csv')

df

<p align="justify">a) Exclua as linhas em que 'post_vaccine' é igual a 0 e salve isso em um novo <i>Data Frame</i>:

In [ ]:
df2 = df[df['post_vaccine'] == 1]

df2

<p align="justify">b) Use o <i>Data Frame</i> do exercício anterior para mostrar as frequências das categorias da variável 'positions_vac':

In [ ]:
df2['positions_vac'].value_counts()

16 - Temos o seguinte banco de dados com valores <i>missing</i>. Preencha os valores faltantes com zeros.

In [ ]:
data = {'A': [1, 2, np.nan, 4, 5],
        'B': [np.nan, 2, 3, np.nan, 5],
        'C': [1, np.nan, 3, 4, np.nan]}

df = pd.DataFrame(data)


# Preencher os valores ausentes com zeros
df_filled = df.fillna(0)

# Exibir o DataFrame com os valores preenchidos
print(df_filled)

17 - Novamente, temos um banco de dados com NAs. Conte os valores <i>missing</i> em cada coluna:

In [ ]:
data = {'A': [1, 2, np.nan, 4, 5],
        'B': [np.nan, 2, 3, np.nan, 5],
        'C': [1, np.nan, 3, 4, np.nan]}

df = pd.DataFrame(data)


# Contar os valores ausentes em cada coluna
count_missing = df.isnull().sum()

# Exibir o número de valores ausentes em cada coluna
print(count_missing)

18 - Remova os dados duplicados do seguinte banco de dados:

In [ ]:
data = {'Nome': ['Alice', 'Bob', 'Alice', 'David', 'Eve'],
        'ID': [101, 102, 101, 103, 104]}

df = pd.DataFrame(data)

# Remova as entradas duplicadas com base no número de identificação
df_unique = df.drop_duplicates(subset='ID')

# Exiba o novo DataFrame resultante
print(df_unique)

<p align="justify">19 - Para o seguinte banco de dados, faça um mapeamento que substitua 'alto' por 3, 'médio' por 2 e 'baixo' por 1. Em seguida, utilize esse mapeamento no banco com o método <i>replace</i>:

In [ ]:

data = {'Cidade': ['A', 'B', 'C', 'D'],
        'Poluição': ['Alto', 'Médio', 'Baixo', 'Alto']}

df = pd.DataFrame(data)

<p align="justify">20 - Para o seguinte banco de dados, crie bins de conceitos (i.e. 'A', 'B', etc.) com base na nota dos alunos:

In [ ]:

data = {'Nome': ['Alice', 'Bob', 'Carol', 'David', 'Eve'],
        'Nota': [85, 72, 45, 60, 32]}

df = pd.DataFrame(data)

21 - Use a função get_dummies() para criar variáveis dummy a partir da coluna de animais de estimação:

In [ ]:
data = {'Nome': ['Alice', 'Bob', 'Carol', 'David', 'Eve'],
        'Animal_de_Estimação': ['Cachorro', 'Gato', 'Peixe', 'Gato', 'Cachorro']}

df = pd.DataFrame(data)

<p align="justify">22 - Suponha que você tenha um <i>Data Frame</i> com uma coluna que contém nomes completos no formato "Primeiro Nome Último Nome". Sua tarefa é dividir essa coluna em duas colunas separadas, uma para o primeiro nome e outra para o último nome:

In [ ]:
import pandas as pd

data = {'Nome_Completo': ['Alice Johnson', 'Bob Smith', 'Carol Brown', 'David White', 'Eve Anderson']}

df = pd.DataFrame(data)

<p align="justify">23 - Suponha que você tenha um <i>Data Frame</i> com uma coluna que contém nomes completos, mas alguns nomes têm espaços em branco extras no início ou no final. Sua tarefa é remover esses espaços em branco extras:

In [ ]:
data = {'Nome_Completo': ['   Alice Johnson', 'Bob Smith   ', ' Carol Brown ', '  David White ', 'Eve  Anderson']}

df = pd.DataFrame(data)